body {
  background-color: #2f3939;
  color: white;
}

#headerr {
  color: #2f3939;
  font-family:'Buenard', serif;
}

#page_title img{
  width: 50%;

}

nav .brand-logo {
  color: #2f3939;
}

#intro {
  font-family:'Buenard', serif;
  font-size: 2em;
  margin: 50px;
  margin-left: 250px;
  padding: 20px;
}

#unicorn_text{
  font-family:'Buenard', serif;
  font-size: 2em;
  margin: 50px;
  margin-left: 80px;
  padding: 20px;
}

.side-barz {
  margin-top: 20px;
  font-size: 1.2em;
}

.nummmmm {
  font-size: 3em;
  color: #acebae

}

nav ul a {
  color: #2f3939;
}

.box {
  border: solid #acebae 4px;
  padding: 20px;
}

.box-pink {
  border: solid #ea4a4f 4px;
}

.flex-container {
    display: -webkit-flex;
    display: flex;
}

.flex-item {
    height: 100%;
}

#map_contain {
	margin-top: 20px;
  z-index: 0;

}

#map_contain img{
  margin-top: 20px;
  z-index: -10;

}

#stacked_bar_contain {
	margin-top: -40px;
	padding-top: 30px;
}



body {
  font: 14px sans-serif;
}
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.bar {
  fill: steelblue;
}
.x.axis path {
  display: none;
}
.y.axis path {
  display: none;
}
.legend line {
  stroke: #000;
  shape-rendering: crispEdges;
}

.tabs {
	background-color: rgba(0,0,0,0);
	font-size: 1em;
	width: 70%;;
}

.tabs a{
	font-size: 2em;
}

#side_nav {
  position: absolute;
}

.table-of-contents {
  font-family: 'Fira Sans', sans-serif;
  color: white;
  z-index: 900 important!;
  font-size: 1em;
  position: fixed;
  line-height: 90%;
 }

 .table-of-contents a{
   color: pink;
 }

#page_title {
  font-family:'Buenard', serif;
  line-height: 90%;
  font-size: 7em;
  color: #acebae;
  margin-left: 60px;
}

#map_title{
  margin-bottom: -150px;
  position: relative;

}

.sectionTitle {

  font-family: 'Fira Sans', sans-serif;
  z-index: 900 important!;
  font-size: 5em;
  position: relative;
  line-height: 90%;

}

#markets_nada_cont {
  text-align: right;
  margin-top: 30px;
  margin-bottom: -130px;

}

/* MARKET AREA CHART */


/* Dropdown Button */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 100;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    position: relative;
    z-index: 100;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

.yAxis path,
.yAxis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.areaXaxis path,
.areaXaxis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.area {
  fill: white;
  stroke-width: 0;
  opacity: 0.3;
}

.areaY1Small {
  fill: maroon;
  stroke-width: 0;
  opacity: 0.7;
}

.areaY2Small {
  fill: maroon;
  stroke-width: 0;
  opacity: 0.7;
}

div.tooltip {
  position: absolute;
  text-align: left;
  width: 120px;
  height: 65px;
  padding: 5px;
  font-size: 10px;
  font-family: 'Open Sans', sans-serif;
  background: #8b8687;
  border: 1px;
  border-radius: 8px;
  pointer-events: none;
}


.areaButon {
  background-color: blue;
  color: black;
  border: none;
  margin: 5px;
  width: 135px;

}

button:focus {
    border: 2px solid white;

}

#areachart2 {
  margin-top: -50px;
}




/*CARLO CSS*/

h1 {
  margin: 0;
  padding: 1rem 0.4rem 2rem 0.4rem;
  font-size: 2rem;
  font-weight: bold;
  text-align: left;
  color: white;
}

/*.widget {
  display: inline-block;
  border: 1px solid #AAA;
  background: white;
}*/

#chart {
  height: 550px;
  width: 300px;
}

#chart2 {
  height: 550px;
  width: 200px;
}

svg {
  shape-rendering: round;
}

.bar {
  fill: slateblue;
}

.value {
  font-size: 12px;
  font-weight: 300;
  fill: white;
}

.label {
  font-size: 12px;
  fill: white;
}

.axis {
  font-size: 12px;
  fill: lightgrey;
  font-family: "Exo 2", sans-serif;
}
.axis path {
  fill: none;


}
.axis .tick line {
  stroke-width: 1;
  stroke: rgba(0, 0, 0, 0.1);
  stroke: white;
}

path { 
    /*stroke: green;*/
    stroke-width: 1.5;
    fill: none;
}

circle {
  /*stroke: steelblue;*/
  stroke-width: 3;
  /*fill: #00db97;*/
  opacity: 0.75;
}

.axis path,
.axis line {
    fill: none;
    stroke: black;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

.herlper_toolip {
  font-size: 20px;
  color: black;
}

#markets_carlo_cont {
  padding-top: 30px;
}

#year {
  margin-top: -100px;
  font-size: 3em;
}






